img {
  width: auto;
  height: 100%;
}

input[type=submit] {
  cursor: pointer;
}

input[type=submit]:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.main {
  height: 100vh;
  width: 100%;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.small-link {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .2s;
  transition: .2s;
}

.small-link:hover {
  color: #b3b3b3;
}

.header {
  background: #353436;
  width: 100%;
  padding: 5px 0 20px;
  max-height: 130px;
}

.header-block .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-block__logo {
  margin-top: 10px;
}

.header-block__logo__link img {
  width: 100%;
  height: auto;
}

.header-block__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-block__menu__auth {
  margin-bottom: 67px;
}

.header-block__menu__auth .small-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-block__menu__auth img {
  margin-left: 10px;
}

.header-block__menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-block {
  position: relative;
}

.nav-link {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  text-decoration: none;
  margin-right: 25px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #e2d1a6;
}

.nav-link.active {
  color: #e2d1a6;
}

.nav-block:last-child .nav-link {
  margin-right: 0;
}

.nav-block__child {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 27px 10px 10px;
  background: #353436;
  position: absolute;
  left: -15px;
  top: 22px;
  z-index: 2;
}

.child-link {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  width: 100%;
  padding: 5px;
  text-transform: uppercase;
}

.child-link:hover {
  color: #e2d1a6;
}

.child-link:last-child {
  border: 0;
}

.slider {
  position: relative;
  font-family: 'Playfair Display', serif;
  height: calc(100vh - 130px);
}

.slider-dots {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 38px;
  left: 50%;
  -webkit-transform: translateX(-65%);
          transform: translateX(-65%);
}

.slider-dots li {
  width: 14px;
  height: 14px;
  border: 1px solid #000;
  background: #ffffff;
  border-radius: 50%;
  margin-right: 10px;
}

.slider-dots li:last-child {
  margin-right: 0;
}

.slider-dots li.slick-active {
  background: #e2d1a6;
}

.slider-dots button {
  display: none;
}

.slider-photos {
  max-height: calc(100vh - 131px);
}

.slider-photos__photo img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: calc(100vh - 131px);
}

.slider__main-text {
  padding: 18px 49px 19px 30px;
  background: #ffffff;
  color: #000000;
  position: absolute;
  top: 30%;
  right: 0;
  max-width: 460px;
}

.slider__main-text__header {
  font-size: 30px;
  font-style: italic;
  text-transform: uppercase;
  margin: 0;
}

.slider__main-text__sub-header {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
}

.slider-toogle__open {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-toogle__arrow {
  width: 40px;
  height: 15px;
  padding: 5px 23px 7px 24px;
  background: #ffffff;
  text-align: center;
}

.slider-toogle__arrow img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider-toogle__arrow img.rotate {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.slider-toogle__hiden {
  display: none;
}

.slider-toogle__blocks {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider-toogle__blocks .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.slider-toogle__block {
  background: #ffffff;
  z-index: 10;
  color: #000000;
  padding: 17px 20px 8px 15px;
}

.slider-toogle__block:first-child {
  background: #e2d1a6;
}

.slider-toogle__block:last-child {
  background: #000000;
  color: #ffffff;
}

.slider-toogle__header {
  font-size: 28px;
  line-height: 30px;
  margin: 0;
  min-height: 60px;
}

.slider-toogle__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.slider-toogle__underline {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  text-align: right;
  color: #ffffff;
}

.slider-toogle__underline:hover {
  text-decoration: underline;
}

.slider-toogle__underline.black {
  color: #000000;
}

.footer {
  background: #353436;
  padding: 40px 0 17px;
  color: #ffffff;
}

.footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-top__block {
  margin-right: 60px;
  max-width: 190px;
}

.footer-top__block:last-child {
  margin-right: 0;
}

.footer-top__header {
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 26px;
}

.footer-top__text {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 17.4px;
  font-weight: 300;
}

.footer-top__form {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  max-width: 184px;
}

.footer-top__form label {
  vertical-align: middle;
}

.footer-top__form label:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #ffffff;
  margin-right: 8px;
}

.footer-top__form #agree {
  vertical-align: middle;
  display: none;
}

.footer-top__form #agree:checked + label:before {
  background-image: url("/assets/images/tick.png");
  background-repeat: no-repeat;
  background-size: 90% 90%;
  background-position: center;
}

.footer-top__input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #8c8c8c;
  width: 100%;
  max-width: 174px;
  padding: 7px 0 7px 6px;
  margin-bottom: 12px;
}

.footer-top__submit {
  width: 100%;
  background: #000000;
  border: 0;
  color: #ffffff;
  text-transform: uppercase;
  padding: 9px 56px;
  margin-top: 10px;
  cursor: pointer;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  margin-top: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-bottom__text {
  font-size: 12px;
}

.footer-bottom__link {
  color: #ffffff;
  text-decoration: none;
}

.footer-bottom__link:hover {
  color: #e2d1a6;
}

.footer-bottom__social {
  margin-left: 195px;
}

.footer-bottom__social a {
  margin-right: 10px;
  font-size: 12px;
  color: #ffffff;
}

.footer-bottom__social a:last-child {
  margin-right: 0;
}

.footer-bottom__lang .small-link {
  border-right: 1px solid #fff;
  padding-right: 10px;
  padding-left: 10px;
}

.footer-bottom__lang .small-link:last-child {
  border: 0;
  padding-right: 0;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(225, 227, 221, 0.6);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99999;
  display: none;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
}

.popup-block {
  width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #353436;
  padding: 14px 79px 27px 77px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.popup-block__forms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.popup-block__form {
  width: 50%;
  max-width: 184px;
}

.popup-block__form:last-child .popup-block__submit {
  margin-top: 13px;
}

.popup-block__form label {
  vertical-align: middle;
  font-size: 10px;
  color: #b5b4b4;
}

.popup-block__form label:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #ffffff;
  margin-right: 8px;
}

.popup-block__form__header {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 16px;
}

.popup-block__input {
  width: 100%;
  font-size: 16px;
  padding: 10px 0 7px 12px;
  color: #b5b4b4;
  margin-bottom: 12px;
  max-width: 174px;
  font-family: 'Open Sans', sans-serif;
}

.popup-block__submit {
  width: 100%;
  color: #ffffff;
  background: #000;
  border: 0;
  padding: 8px 0;
  font-family: 'Open Sans', sans-serif;
}

.popup-block__link {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: #b5b4b4;
  text-decoration: none;
  margin-top: 12px;
  -webkit-transition: .2s;
  transition: .2s;
}

.popup-block__link:hover {
  color: white;
}

.popup-block__checkbox {
  display: none;
}

.popup-block__checkbox:checked + label:before {
  background-image: url("/assets/images/tick.png");
  background-repeat: no-repeat;
  background-size: 90% 90%;
  background-position: center;
}

.popup__header {
  font-size: 23.7px;
  font-weight: 700;
  text-align: center;
  width: 100%;
}

.popup__close {
  position: absolute;
  top: 13px;
  right: 18px;
  border: 0;
  background: transparent;
  cursor: pointer;
}

#menuToggle {
  display: none;
  position: absolute;
  top: 35px;
  left: 10px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.mobile-bg {
  background: rgba(0, 0, 0, 0.6);
  z-index: 11;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.mobile-menu {
  height: 100%;
  background: #ffffff;
  width: 50%;
  position: fixed;
  top: 0;
  left: 0;
  color: #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px 20px;
}

.mobile-menu__close {
  position: absolute;
  top: 15px;
  right: -30px;
  width: 24px;
  height: 24px;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.mobile-menu__auth {
  margin-bottom: 20px;
}

.mobile-menu__auth .small-link {
  color: #000000;
  font-size: 18px;
}

.mobile-menu__auth img {
  margin-left: 5px;
}

.mobile-menu__nav .nav-block {
  margin-bottom: 10px;
}

.mobile-menu__nav .nav-link {
  color: #000000;
}

.mobile-menu__nav .nav-link.active {
  color: #e2d1a6;
}

.mobile-menu__nav .nav-block__child {
  position: static;
  padding: 10px;
  background: transparent;
}

.mobile-menu__nav .nav-block__child .child-link {
  color: #000000;
}

@media (max-width: 1200px) {
  .footer-top {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer-top__block {
    margin: 0;
  }
  .footer-bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-bottom__social {
    margin: 0;
  }
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .footer-bottom__text {
    width: 100%;
  }
  .footer-bottom__social {
    margin-top: 12px;
  }
  .nav-link {
    margin-right: 15px;
  }
  .slider__main-text {
    padding: 12px 15px 13px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 400px;
  }
  .slider__main-text__header {
    font-size: 24px;
  }
  .slider__main-text__sub-header {
    font-size: 14px;
  }
  .slider-toogle__header {
    font-size: 22px;
  }
  .slider-toogle__text {
    font-size: 14px;
  }
  .slider-toogle__underline {
    font-size: 16px;
  }
  .footer-top__block {
    width: 45%;
    max-width: 280px;
  }
  .footer-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .slider-toogle__blocks .container {
    max-width: unset;
    padding: 0;
  }
  .slider__main-text {
    display: none;
  }
  .header-block .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-block__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .header-block__logo__link {
    max-width: 200px;
  }
  .header-block__menu {
    display: none;
  }
  #menuToggle {
    display: block;
  }
  .slider-photos {
    max-height: unset;
  }
  .main {
    height: auto;
  }
  .slider {
    height: auto;
  }
}

@media (max-width: 600px) {
  .popup-block {
    width: 100%;
    padding: 14px 50px 27px 50px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: unset;
  }
  .slider-toogle__open {
    display: none;
  }
}

@media (max-width: 400px) {
  .mobile-menu {
    width: 100%;
  }
  .mobile-menu__close {
    right: 15px;
  }
}
/*# sourceMappingURL=main.css.map */